.gallery-images {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  padding: 0 2rem;
  height: 70vh;
  transition: all 2s ease-in-out;
}

.slide-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.slider-button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  background: transparent;
}

.slider-button.left {
  left: 0%;
}

.slider-button.right {
  right: 0%;
}
