.duration-btn-container {
  display: flex;
  position: relative;
  width: min-content;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 20px;
  text-wrap: nowrap;
}

.duration-btn {
  width: 75px;
  padding: 10px 10px;
  background-color: transparent;
  border-radius: inherit;
}
.duration-btn.active {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: gray;
}

.membership {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 70vh;
  padding: 2rem 0;
  width: 100%;
  background: url('E:\New folder\FirstProject\public\images\thegym1.jpg');
}

.plans {
  position: relative;
  width: 300px;
  /* max-width: 550px; */
  min-height: inherit;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  color: black;
  text-align: center;
}

.plans h2 {
  margin: 1rem;
}

.plans ul {
  margin: 2rem;
}

.plan-terms {
  color: red;
}

.plan-contact {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.facilities {
  width: max-content;
margin: auto;
  text-align: left;
}

.facilities li {
  margin: 10px 0;
}

.facility-img {
  height: 1rem;
  margin: 0 10px;
}
