.duration-btn-container {
  display: flex;
  position: relative;
  width: min-content;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  text-wrap: nowrap;
}

.duration-btn {
  width: 75px;
  padding: 10px 10px;
  background-color: transparent;
  border-radius: inherit;
}
.duration-btn.active {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: gray;
}

.membership {
  display: flex;
  gap: 2rem;
  height: 70vh;
  margin: 2rem;
}

.plans {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  color: black;
  text-align: center;
}

.plans h2 {
  margin: 1rem;
}

.plans ul {
  margin: 2rem;
}

.plan-contact {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: var(--secondary-color);
  border-radius: 20px;
}
