.navbar {
    position: sticky;
    top: 0;
    background-color: var(--bg-nav);
    padding: 10px;
    display: flex;
    z-index: 999;
}

.nav-logo {
    height: 30px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 1.3rem;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

nav button:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
}

.nav-contact {
    background-color: var(--primary-color);
    border: none;
    padding: 0 10px;
    font-size: 1rem;
}

.theme-icon {
    width: 30px;
    cursor: pointer;
}

.menu {
    display: none;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .nav-options {
        display: flex;
        gap: 1rem;
    }

    nav {
        /* display: none; */
        position: absolute;
        right: 0;
        top: 54px;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        padding: 10px;
    }
    nav.hide {
        display: none;
    }

    .menu {
        display: unset;
    }

}