.popup {
    margin-top: 10%;
    width: 100%;
    height: 500px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    animation-name: popupImgAnimation;
    animation-duration: 1s;
    * {
        overflow: hidden;
    }
}

@keyframes popupImgAnimation {
    from {transform: scale(10%);}
    to {transform: scale(100%);}
  }

.popupImg {
    width: 500px;
    height: 500px;
    border-radius: 8px;

}